.header {
    width: 100%;
    height: 221px;
    border-bottom: 3px solid #ef3c79;
    margin: auto;
    background: #fff;
    position: relative; 
} 

.header .thead {
    height: 33px;
    background: #fafafa;
    border-bottom: 1px solid #f0f0f0;
    font-size: 12px;
}

.header .head {
    width: 1210px;
    height: 33px;
    background: #FAFAFA;
    border-bottom: 1px solid #f0f0f0;
    margin: auto;
}

.header .head .login {
    width: 280px;

}

.header .head .login a {
    color: #777777;
}

.header .head .login li {
    line-height: 33px;
    float: left;
}

.header .head .login li:nth-of-type(1) {
    /* font-size: 14px; */
    color: #777777;
}

.header .head .serve {
    width: 291px;
    float: right;
    font-size: 12px;
    z-index: -999;
}

.header .head .serve a {
    color: #777777;
}

.header .head .serve div {
    width: 97px;
    text-align: center;
    line-height: 33px;
    float: left;
    position: relative;
    box-sizing: border-box;

}

.header .head .serve div>span {
    display: block;
    width: 7px;
    height: 3px;
    background: url(../images/t1.png) no-repeat;
    position: absolute;
    right: 10px;
    top: 17px;
    /* background-position: 90px 17px; */
}

.header .head .serve ul {
    display: none;
    line-height: 27px;
    background: #fff;
}


.header .title {
    width: 1210px;
    height: 142px;
    /* background: red; */
    margin: auto;
    position: relative;
}

.header .title h1 {
    padding-top: 32px;
    width: 220px;
}

.header .title h1 a {
    display: block;
    height: 60px;
    background: url(../images/logo.png)no-repeat;
    text-indent: -9999px;
}

.header .title .search {
    width: 560px;
    height: 40px;
    border: 1px solid #cccccc;
    position: absolute;
    top: 40px;
    left: 270px;
}

.header .title .search .search_head {
    width: 94px;
    background: #fff;
}



.header .title .search .search_2 {
    background: #fff;
    border: 1px solid #cccccc;
    margin-top: -2px;
    margin-left: -1px;
    color: #777777;
    display: none;


}

.header .title .search .search_2 li {
    height: 40px;
    background: #fff;
}

.header .title .search .search_2 li p {
    width: 73px;
    height: 40px;
    padding-left: 20px;

}

.header .title .search div a {
    display: block;
    width: 73px;
    height: 40px;
    border-right: 1px solid #cccccc;
    color: #cccccc;
    line-height: 40px;
    padding-left: 20px;

}

.header .title .search span {
    display: block;
    width: 9px;
    height: 5px;
    background: url(../images/top-down.png) no-repeat;
    position: absolute;
    top: 19px;
    left: 70px;
}

.header .title .search input:nth-of-type(1) {
    width: 350px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 115px;

}

.header .title .search input:nth-of-type(2) {
    width: 100px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    background: #ef3c79;
    color: #fff;

}

.header .title .ul {
    width: 300px;
    height: 30px;
    /* border:1px solid #cccccc; */
    z-index: 0;

    margin-left: 270px;
}

.header .ul li {
    float: left;
    padding-right: 10px;
    font-size: 12px;
}

.header .ul li a {
    color: #cccccc;
}

.header .title .centre {
    width: 258px;
    height: 42px;
    position: absolute;
    top: 40px;
    right: 0;
    font-size: 12px;
}

.header .title .user {
    width: 120px;
    height: 40px;
    border: 1px solid #ccc;
    /* border-bottom: 1px solid #fff; */
    background: #fafafa;
    text-align: center;
    position: relative;
    float: left;
    z-index: 2;

}

.header .title .centre .user span:nth-child(1) {
    display: block;
    width: 17px;
    height: 16px;
    background: url(../images/t2.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 12px;
    left: 10px;

}

.header .title .centre .user span:nth-child(2) {
    position: absolute;
    top: 13px;
    left: 36px;
    /* font-size: 14px */

}

.header .title .centre .user span:nth-child(2) a {
    color: #555555;
}

.header .title .centre .user span:nth-child(3) {
    display: block;
    width: 9px;
    height: 5px;
    background: url(../images/top-down.png) no-repeat;
    position: absolute;
    top: 19px;
    right: 15px;

}


.header .title .centre .my {
    width: 370px;
    height: 217px;
    border: 1px solid #cccccc;
    z-index: 1;
    background: #fff;
    position: absolute;
    top: 41px;
    left: -250px;
    display: none;
}

.header .title .centre .my a {
    color: #EF3C79;
}

.header .title .centre .my div:nth-of-type(1) {
    height: 40px;
    border-bottom: 1px solid #cccccc;
    text-align: right;
    line-height: 40px;
    padding-right: 15px;
    position: relative;
}

.header .title .centre .my div:nth-of-type(1) i:nth-of-type(1) {
    position: absolute;
    left: 10px;
}

.header .title .my p {
    width: 5px;
    height: 8px;
    background: url(../images/t4.png) no-repeat;
    position: absolute;
    top: 19px;
    right: 5px;

}

.header .title .centre .my div:nth-of-type(2) {
    height: 96px;
    border-bottom: 1px solid #cccccc;
    /* padding-right: 10px; */
}

.header .title .centre .my div:nth-of-type(2) .aul {
    border-right: 1px solid #cccccc;
    width: 183px;
    height: 76px;
    margin-top: 10px;
    float: left;
    text-align: left;
}

.header .title .centre .my div:nth-of-type(2) .aul li {
    width: 173px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
}

.header .title .centre .my div:nth-of-type(2) .bul {

    width: 183px;
    height: 76px;
    margin-top: 10px;
    float: right;
    text-align: left;
}

.header .title .centre .my div:nth-of-type(2) .bul li {
    width: 173px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    background: url(../images/t4.png) no-repeat;
    background-position: 64px 9px;
}

.header .title .centre .my div:nth-of-type(3) {
    height: 80px;
}

.header .title .centre .my div:nth-of-type(3) .ali {
    height: 30px;

    position: relative;
}

.header .title .centre .my div:nth-of-type(3) .ali .ai {
    width: 173px;
    height: 30px;
    text-align: left;
    line-height: 30px;
    position: absolute;
    left: 10px;
}

.header .title .centre .my div:nth-of-type(3) .ali .bi {
    width: 173px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: -40px;
}

.header .title .settle {
    width: 120px;
    height: 40px;
    border: 1px solid #cccccc;
    background: #fafafa;
    position: relative;
    float: right;
    z-index: 2;

}

.header .title .centre .settle span:nth-child(1) {
    display: block;
    width: 20px;
    height: 15px;
    background: url(../images/t3.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: 14px;
    left: 7px;
}

.header .title .centre .settle span:nth-child(2) {
    position: absolute;
    top: 13px;
    left: 33px;
    /* font-size: 14px */
}

.header .title .centre .settle span:nth-child(2) a {
    color: #555555;
}

.header .title .centre .settle span:nth-child(3) {
    display: block;
    width: 9px;
    height: 5px;
    background: url(../images/top-down.png) no-repeat;
    position: absolute;
    top: 19px;
    right: 10px;
}

.header .title .centre .shopping {
    width: 370px;
    border: 1px solid #cccccc;
    background: #fff;
    position: absolute;
    top: 41px;
    left: -114px;
    display: none;
    z-index: 99999;
}
.header .title .centre .shopping>div:nth-of-type(1) {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #cccccc;
    color: #66667F;
    padding-left: 10px;
    font-weight: bold;
}

.header .title .centre .shopping .conte {
    max-height:280px;
    overflow-y:scroll
}

.header .title .centre .shopping .conte>li {
    height: 70px;
    text-align: center;
    color: #66667F;
    border-bottom: 1px solid #ccc;
}
.header .title .centre .shopping .conte div:nth-of-type(1) p {
    width:350px;
    height: 70px;
    text-align: center;
    color: #66667F;
    line-height: 70px;
    border-bottom: 1px solid #ccc;
}
.header .title .centre .shopping div:nth-of-type(2) li ul{
    height: 70px;  
}
.header .title .centre .shopping div:nth-of-type(2) li ul p {
    float: left;
    height: 70px;  
    
}
.header .title .centre .shopping div:nth-of-type(2) li ul p:nth-of-type(1){
    width:50px;
    height:50px;
    border:1px solid #ccc;
    margin:10px 0 0 10px;
}
.header .title .centre .shopping div:nth-of-type(2) li ul p:nth-of-type(1) img{
    width:50px;
    height:50px;
    display: block;
}
.header .title .centre .shopping div:nth-of-type(2) li ul p:nth-of-type(2){
    width:190px;
    height:70px;   
    /* border:1px solid #ccc   */
}
.header .title .centre .shopping div:nth-of-type(2) li ul p:nth-of-type(2) i{
    display: block;
     width:185px;
    height:60px;
    font-size: 11px;
    margin-top:10px;
    text-align: left;
    padding-left:9px;
    /* line-height: 0; */
}
.header .title .centre .shopping div:nth-of-type(2) li ul p:nth-of-type(3){
    width:94px;
    height:70px;
    /* border:1px solid #ccc   */
}
.header .title .centre .shopping div:nth-of-type(2) li ul p:nth-of-type(3) span:nth-of-type(1){
    width:94px;
    display: block;
    margin-top:10px;
     text-align: right
}
.header .title .centre .shopping div:nth-of-type(2) li ul p:nth-of-type(3) span:nth-of-type(2){
    width:94px;
    display: block;
    text-align: right;
    color: red;
    cursor: pointer;
}

.header .title .centre .shopping div:nth-of-type(3) {
    height: 50px;
    background: #F0F0F0;
    position: relative;

}

.header .title .centre .shopping div:nth-of-type(3) span {
    display: block;
    width: 130px;
    height: 34px;
    background: #EF3C79;
    border-radius: 10px;
    text-align: center;
    line-height: 34px;
    position: absolute;
    top: 8px;
    left: 230px;

}

.header .title .centre .shopping div:nth-of-type(3) span a {
    color: #fff;
}


.header .nav {
    width: 1210px;
    height: 45px;
    margin: auto;
}

.header .nav li {
    float: left;
    line-height: 45px;
}

.header .nav .anav {
    width: 210px;
    font-size: 14px;
    background: url(../images/n1.png)no-repeat #ef3c79;
    background-position: 18px 13px;
    color: #fff;
    position: relative;
}

.header .nav .anav h2 {
    height: 48px;
    padding-left: 50px;
    font-size: 16px;
}

.header .nav .anav .nul {
    width: 210px;
    height: 300px;
    background: #e8e5e2;
    position: absolute;
    /* color: #C4B5B3; */
    display: none;
    z-index: 1;

}

.header .nav .anav .nul a {
    color: #9a9292;
}

.header .nav .anav .nul li {
    width: 200px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;

}

.header .nav .anav .nul li>div {
    width: 990px;
    height: 500px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 210px;
    display: none;
}

.header .nav .anav .nul dl {
    width: 990px;
    height: 35px;
    position: relative;
    /* border-bottom: 1px; */
}

.header .nav .anav .nul dl dt {
    width: 120px;
    float: left;
    text-align: right;

}

.header .nav .anav .nul dd {
    width: 780px;
    height: 30px;
    padding-top: 5px;
    float: left;
    border-bottom: 1px solid #e7e7e7;
}

.header .nav .anav .nul dd a {
    display: block;
    /* width:80px; */
    height: 18px;
    padding: 0 15px;
    text-align: center;
    line-height: 18px;
    float: left;
    border-left: 1px solid #e7e7e7;
}

.header .nav .anav .nul span {
    background: #7c7171;
    color: #fff;
    margin-left: 12px;
    padding: 0 8px;
}

.header .nav .anav .nul h3 a {
    color: #000;
    padding-right: 30px;
    font-weight: bold;
}

.header .nav .anav .nul h3 i {
    display: block;
    width: 5px;
    height: 8px;
    background: url(../images/t4.png) no-repeat;
    position: absolute;
    top: 10px;
    left: 95px;
}

.header .nav .bnav {
    width: 900px;
    height: 45px;

}

.header .nav .bnav li {
    padding: 0 15px;

}

.header .nav .bnav li a {
    color: black;
    font-weight: bold;
}


.footer {
    width: 1210px;
    height: 655px;
    margin: auto;
}

.footer a {
    color: #000;
}

.footer .attention {
    width: 1210px;
    height: 395px;
    /* position: relative; */
    border-bottom: 1px solid #ededed;

}

.footer .attention div:nth-child(1) {
    width: 1200px;
    height: 145px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
}


.footer .attention div:nth-child(2) {
    width: 220px;
    height: 225px;
    float: left;
    margin-top: 30px;
    /* position: absolute;
    top: 170px; */
}

.footer .attention div:nth-child(2) i a {
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px;
}

.footer .attention div:nth-child(2) .img_3 {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px -15px 0px 81px;
    display: none
}

.footer .attention div:nth-child(2) .img_4 {
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 10px -15px 0px 131px;
    display: none
}

.footer .attention div:nth-child(2) .img_3 img {

    width: 60px;
    height: 60px;
}

.footer .attention div:nth-child(2) .img_4 img {

    width: 60px;
    height: 60px;
}

.footer .attention div:nth-child(3) {
    width: 750px;
    height: 225px;
    float: left;
    margin-top: 20px;
}

.footer .attention div:nth-child(3) li {
    width: 150px;
    float: left;
    padding-left: 20px;
    padding-top: 15px;
}

.footer .attention div:nth-child(3) li:nth-of-type(1) {
    margin-left: 55px;
}

.footer .attention div:nth-child(3) li dt {
    font-size: 20px;
    font-weight: bold;
    height: 40px;
}

.footer .attention div:nth-child(3) li dd {
    font-size: 14px;
    height: 30px;
}

.footer .attention div:nth-child(4) {
    width: 240px;
    height: 225px;
    float: right;
    margin-top: 20px;
    /* background: rgb(209, 121, 26); */

}

.footer .attention div:nth-child(4) dl {
    float: left;
    margin: 15px 7px 0 7px;
    font-size: 12px;
}

.footer .attention div:nth-child(4) dl dt {
    width: 100px;
    height: 100px;
    border: 1px solid #ededed;
    text-align: center;
    line-height: 100px;
}

.footer .attention div:nth-child(4) dl dd {
    padding-top: 10px;
}

.footer .copyright div:nth-of-type(1) {
    text-align: center;
    margin-top: 20px;
}

.footer .copyright {
    width: 1210px;
    height: 230px;
}

.footer .copyright div:nth-of-type(1) a {
    font-size: 13px;
    padding-right: 11px;
    border-right: 1px solid #ededed
}

.footer .copyright div:nth-of-type(2) {
    font-size: 13px;
    text-align: center;
    margin-top: 60px;
}

.footer .copyright div:nth-of-type(2) li {
    font-size: 13px;
    text-align: center;
    margin-bottom: 15px;
}


/* #baiyang .right  {
    width: 45px;
    height: 900px;
    background: black;
    position: fixed;
    right: 0;
    top: 0;
    font-weight: bold;
    z-index: 9999999;
}

#baiyang .right .right_1  {
    position: relative;
    
} */

#baiyang .right .right_1   {
    width: 45px;
    height: 900px;
    background: black;
    position: fixed;
    right: 0;
    top: 0;
    font-weight: bold;
    z-index: 99999999999;
}

/* #baiyang .right .right_1  {
    position: relative;
    
} */

#baiyang .right .right_1 span {
    display: inline-block;
    font-size: 13px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    position: absolute;
    left: -73px;
    color: #fff;
    cursor: pointer;
    background: url(../images/toolbar.png) no-repeat -57px 0; 
}

#baiyang .right .right_1 .huiyuan {
    position: absolute;
    top:200px;
    display: none;

}
#baiyang .right .right_1 .duibi {
    position: absolute;
    top:10px;
    display: none;
}
#baiyang .right .right_1 .kefu {
    display: none;
}

#baiyang .right .right_1 .account {
    width: 45px;
    height: 45px;
    margin-top: 190px;
    line-height: 45px;
    text-align: center;
    cursor: pointer;
}

/* #baiyang .right div:nth-child(1) a {
    display: inline-block;
    width: 45px;
    height: 45px;


} */
#baiyang .right .right_1 .account img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: red;


}

#baiyang .right .right_1 .shop {
    width: 45px;
    height: 125px;
    border-top: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
    text-align: center;
    cursor: pointer;
}


#baiyang .right .right_1 .shop i {
    display: block;
    width: 45px;
    height: 45px;
    background: url(../images/toolbar.png)no-repeat;
    background-position: 5px -115px;
    text-align: center;
}

#baiyang .right .right_1 .shop p {
    display: block;
    width: 20px;
    height: 80px;
    margin-left: 12px;
    color: #fff;
    font-size: 14px;
}

/* #baiyang .right div:nth-child(1) img{
    width:30px;
    height:30px;
    background: red
} */
#baiyang .right .right_1 .relation {
    width: 45px;
    height: 45px;
    text-align: center;
    background: url(../images/toolbar.png)no-repeat;
    background-position: 5px 5px;
    cursor: pointer;
    position: absolute;
    top: 362px;

}

#baiyang .right .right_1 .contrast {
    width: 45px;
    height: 45px;
    background: url(../images/toolbar.png)no-repeat;
    background-position: 5px -35px;
    cursor: pointer;
    position: absolute;
    top: 406px;
}

#baiyang .right .right_1 .top {
    width: 45px;
    height: 45px;
    background: url(../images/toolbar.png)no-repeat;
    background-position: 5px -75px;
    margin-top: 190px;
    cursor: pointer;
}

#baiyang .right .right_2 div:nth-of-type(1) {
    width: 320px;
    height: 260px;
    border: 1px solid #ccc;
    color: #EF3C79;
    position: fixed;
    right: -320px;
    top: 170px;
    background: #fff;
    /* display: none; */
    /* transition: all 0.6s;   */
    z-index: 9999999;
}

#baiyang .right .right_2 div:nth-of-type(1) dl {
    margin-left: 36px;
    margin-top: 10px;
    position: relative;
   
}

#baiyang .right .right_2 div:nth-of-type(1) dl:nth-of-type(1) {
    margin-top: 25px;
   
}

#baiyang .right .right_2 div:nth-of-type(1) dl:nth-of-type(1) i {
    position: absolute;
    right: 10px;
    top: -20px;
     
}

#baiyang .right .right_2 div:nth-of-type(1) dl:nth-of-type(2) a {
    margin-left: 100px;
    color: #EF3C79;
    font-size: 12px;
    
}

#baiyang .right .right_2 div:nth-of-type(1) dl:nth-of-type(3) a {
    color: #EF3C79;
    font-size: 12px;
    margin-left: 130px;
}

#baiyang .right .right_2 div:nth-of-type(1) input {
    width: 250px;
    height: 25px;
    border: 1px solid #ccc;
}

#baiyang .right .right_2 div:nth-of-type(1) dl:nth-of-type(3) dd input {
    width: 150px;
    height: 25px;
    border: 1px solid #ccc;
    float: left;
}

#baiyang .right .right_2 div:nth-of-type(1) dl:nth-of-type(3) i {
    display: block;
    width: 98px;
    height: 25px;
    border: 1px solid #ccc;
    float: right;
    margin-right: 30px;
}

#baiyang .right .right_2 div:nth-of-type(1) dl:nth-of-type(4) input {
    background: #EF3C79;
    margin-top: 10px;
    color: #fff;
}

#baiyang .right .right_2 div:nth-of-type(1) dl:nth-of-type(5) a {
    color: #EF3C79;
    font-size: 12px;
    margin-left: 188px;
}

#baiyang .right .right_2 div:nth-of-type(1) li {
    width: 10px;
    height: 10px; 
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    transform: rotate(45deg);
    background: #fff;
    position: absolute;
    top: 35px;
    right: -6px;
}

#baiyang .right .right_2 div:nth-of-type(2) {
    width: 250px;
    height: 900px;
    border: 1px solid #ccc;
    background: #F5F5F5;
    position: fixed;
    top: 0px;
    right: -250px;
    /* display: none; */
    /* transition: all 0.6s;   */
    z-index: 9999999;
}

#baiyang .right .right_2 div:nth-of-type(2) p {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid #ccc;

}

#baiyang .right .right_2 div:nth-of-type(2) p span:nth-of-type(1) {
    float: left;
    line-height: 40px;
    font-weight: normal;
    color: #9E5858;
    padding-left: 10px;
}

#baiyang .right .right_2 div:nth-of-type(2) p span:nth-of-type(2) {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/toolbar.png) no-repeat;
    background-position: -90px -107px;
    float: right;
}

#baiyang .right .right_2 div:nth-of-type(2)>i {
    display: block;
    width: 210px;
    height: 40px;
    border: 1px solid #EF3C79;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: #9E5858;
    margin: 10px 0 0 20px;
}
#baiyang .right .right_2 div:nth-of-type(2) .shopul>li {
    width: 210px;
    height: 40px;
    border: 1px solid #EF3C79;
    font-size: 12px;
    color: #9E5858;
    margin: 10px 0 0 20px;
    position: relative;
    cursor: pointer;
}
#baiyang .right .right_2 div:nth-of-type(2) .shopul li span:nth-of-type(1){
    display: inline-block;
    width: 40px;
    height: 40px; 
}
#baiyang .right .right_2 div:nth-of-type(2) .shopul li span:nth-of-type(2){
    display: inline-block;
    width: 166px;
    height: 40px; 
    position: absolute;
    top:5px;
}
#baiyang .right .right_2 div:nth-of-type(2) .shopul li img{
    width: 40px;
    height: 40px;
    vertical-align:	baseline;
   
}
#baiyang .right .right_2 div:nth-of-type(2) .shopul li i{
    display: inline-block;
    width: 160px;
    height: 20px;
    
}
#baiyang .right .right_2 div:nth-of-type(2) .shopul li i:nth-of-type(1){
    height: 15px;
    overflow: hidden;
}
#baiyang .right .right_2 div:nth-of-type(2) .shopul li p{
    display: inline-block;
    width: 15px;
    height: 15px;
    background:red;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: -7.5px;
    top:-7.5px;
}

#baiyang .right .right_2 div:nth-of-type(3) {
    width: 250px;
    height: 900px;
    border: 1px solid #ccc;
    background: #F5F5F5;
    position: fixed;
    top: 0px;
    right: -250px;
    /* display: none; */
    z-index: 99;
    /* transition: all 0.6s;   */
    z-index: 9999999;

}

/* #baiyang .right:hover div:nth-of-type(8) {
    display: block;

} */

#baiyang .right .right_2 div:nth-of-type(3) p {
    width: 250px;
    height: 40px;
    border-bottom: 1px solid #ccc;
    /* transition: all 0.6s;   */

}

#baiyang .right .right_2 div:nth-of-type(3) p span:nth-of-type(1) {
    float: left;
    line-height: 40px;
    font-weight: normal;
    color: #9E5858;
    padding-left: 10px;
     /* transition: all 0.6s;   */
}

#baiyang .right .right_2 div:nth-of-type(3) p span:nth-of-type(2) {
    display: block;
    width: 40px;
    height: 40px;
    background: url(../images/toolbar.png) no-repeat;
    background-position: -90px -107px;
    float: right;
     /* transition: all 0.6s;   */
}

#baiyang .right .right_2 div:nth-of-type(3) ul {
    width: 230px;
    height: 600px;
    background: #fff;
    margin: 10px 0 0 10px;
     /* transition: all 0.6s;   */
}

#baiyang .right .right_2 div:nth-of-type(3) ul li {
    height: 200px;
    text-align: center;
    line-height: 200px;
    font-weight: normal;
    color: #999999;
     /* transition: all 0.6s;   */

}