.header {
  height: 80px;
  border-bottom: 1px solid #f5f5f5;
}

.header .thead {
  width: 1000px;
  height: 80px;
  margin: auto;
}

.header .thead .thead_1 {
  width: 220px;
  height: 60px;
  margin: 10px 0 0 10px;
  float: left;
}

.header .thead .thead_2 {
  width: 150px;
  height: 20px;
  float: right;
  margin-top: 55px;
  font-size: 13px;
}

.header .thead .thead_2 li {
  width: 150px;
  height: 20px;
  color: #999e9f;
}

.header .thead .thead_2 li span a {
  color: #f08fa8;
  font-weight: bold;
}

.main {
  height: 500px;
  background: url(../images/register_bg.png) no-repeat;
  background-size: cover;
}

.main .tmain {
  width: 1100px;
  height: 500px;
  margin: auto;
  overflow: hidden;
}

.main .tmain .content {
  width: 880px;
  height: 400px;
  border: 5px solid rgba(0, 0, 0, 0.15);
  background: #fff;
  margin: 50px auto;
}

.main .tmain .content .left {
  width: 600px;
  height: 360px;
  border-right: 1px solid #f5f5f5;
  margin-top: 20px;
  float: left;
}

.main .tmain .content .left .lefthead {
  width: 460px;
  height: 30px;
  border-bottom: 1px solid #f5f5f5;
  margin: auto;
}

.main .tmain .content .left .lefthead li {
  width: 200px;
  height: 29px;
  margin: auto;
  text-align: center;
  border-bottom: 2px solid #ef3c79;
  position: relative;
}

.main .tmain .content .left .lefthead li a {
  font-size: 18px;
  color: #ef5186;
}

.main .tmain .content .left .lefthead li img {
  position: absolute;
  bottom: -11px;
  left: 90px;
}

.main .tmain .content .left .phone {
  overflow: hidden;
}

.main .tmain .content .left .phone li:nth-of-type(1) {
  width: 320px;
  height: 50px;
  width: 320px;
  height: 50px;
  margin-left: 89px;
  border: 1px solid #e6e6e6;
  line-height: 50px;
  margin-top: 20px;
  float: left;
}

.main .tmain .content .left .phone li:nth-of-type(1) span {
  padding-left: 15px;
  color: #666666;
}

.main .tmain .content .left .phone li:nth-of-type(1) input {
  width: 235px;
}

.main .tmain .content .left .phone i:nth-of-type(1) {
  display: block;
  width: 150px;
  height: 30px;
  float: right;
  margin-top: 30px;
  margin-right: 35px;
  text-align: left;
  line-height: 30px;
}

.main .tmain .content .left .phone li:nth-of-type(2) {
  width: 320px;
  height: 50px;
  margin-left: 89px;
  border: 1px solid #e6e6e6;
  line-height: 50px;
  float: left;
}

.main .tmain .content .left .phone li:nth-of-type(2) span {
  padding-left: 15px;
  color: #666666;
}

.main .tmain .content .left .phone li:nth-of-type(2) input {
  width: 135px;
}

.main .tmain .content .left .phone i:nth-of-type(2) {
  display: block;
  width: 150px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 35px;
  text-align: left;
  line-height: 30px;
}

.main .tmain .content .left .phone li:nth-of-type(3) {
  width: 220px;
  height: 50px;
  margin-left: 89px;
  border: 1px solid #e6e6e6;
  line-height: 50px;
  float: left;
}

.main .tmain .content .left .phone li:nth-of-type(3) span {
  padding-left: 15px;
  color: #666666;
}

.main .tmain .content .left .phone li:nth-of-type(3) input {
  width: 136px;
}

.main .tmain .content .left .phone i:nth-of-type(3) {
  display: block;
  width: 150px;
  height: 30px;
  float: right;
  margin-top: 10px;
  margin-right: 35px;
  text-align: left;
  line-height: 30px;
}

.main .tmain .content .left .phone .phonecode {
  width: 100px;
  height: 50px;
  border: 1px solid #e6e6e6;
  background: red;
  color: #fff;
  text-align: center;
  line-height: 50px;
  float: left;
}

.main .tmain .content .left .phone li:nth-of-type(4) {
  width: 320px;
  height: 50px;
  margin-left: 89px;
  margin-top: 25px;
  float: left;
}

.main .tmain .content .left .phone li:nth-of-type(4) input {
  color: #fff;
  width: 320px;
  height: 50px;
  background: #ef3c79;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  cursor: pointer;
}

.main .tmain .content .left .phone i:nth-of-type(4) {
  display: block;
  width: 150px;
  height: 30px;
  float: right;
  margin-top: 30px;
  margin-right: 35px;
  text-align: left;
  line-height: 30px;
}

.main .tmain .content .right {
  width: 250px;
  height: 200px;
  float: right;
  font-size: 13px;
  margin-top: 20px;
  margin-right: 20px;
}

.main .tmain .content .right h4 {
  width: 250px;
  height: 20px;
  font-size: 18px;
}

.main .tmain .content .right dl {
  width: 250px;
  height: 160px;
  margin-top: 20px;
  margin-left: 20px;
}

.main .tmain .content .right dl dd {
  height: 32px;
  line-height: 32px;
  color: #999999;
}

.main .tmain .content .right dl dd i {
  display: block;
  width: 32px;
  height: 32px;
  float: left;
  background: url(../images/login_pic3.png) no-repeat;
}

.main .tmain .content .right dl dd span {
  display: block;
  width: 215px;
  height: 32px;
  float: right;
}

.main .tmain .content .right dl dd:nth-of-type(1) i {
  background-position: 3px -74px;
}

.main .tmain .content .right dl dd:nth-of-type(2) i {
  background-position: -27px -74px;
}

.main .tmain .content .right dl dd:nth-of-type(3) i {
  background-position: -57px -74px;
}

.main .tmain .content .right dl dd:nth-of-type(4) i {
  background-position: -87px -74px;
}

.main .tmain .content .right dl dd:nth-of-type(5) i {
  background-position: -117px -74px;
}

.main .tmain .content .right dl dd:nth-of-type(6) i {
  background-position: -147px -74px;
}

.footer {
  height: 50px;
  font-size: 13px;
}

.footer ul {
  height: 36px;
  margin-top: 80px;
}

.footer ul li {
  height: 18px;
  text-align: center;
  line-height: 18px;
}

/*# sourceMappingURL=register.css.map */